@media screen and (min-width:320px) {
    .how_start  {
        justify-content: center;
    }

    .how_start_frame {
        flex: 0 0 90%;
    }

    .welcomeRectMobile {
        display: block;
        width: 140%;
    }

    .welcomeRect {
        display: none;
    }

    .welcomeContainer {
        flex-direction: column-reverse;
    }

    .welcomeText {
        left: 15%;
        font-size: calc(1vw + 0.25em);
    }

    .anchor_container__modify {
        padding: 20px 10px;
    }

    .img {
        width: 250%;
    }

    .endRect {
        display: none;
    }

    .endRectMobile {
        display: block;
    }

    .endImg {
        max-width: 100%;
        margin: 0px 10px;
    }

    .endBox {
        flex-direction: column;
        padding: 10px;
    }

    .endText {
        font-size: calc(1vw + 0.4em);
        lineheight: 8px;
    }

    .welcomeBox {
        max-width: 100%;
    }


    .borderBox {
        width: 80%;
    }

}

@media screen and (min-width:375px) {
    .how_start  {
        justify-content: center;
    }

    .how_start_frame {
        flex: 0 0 90%;
    }

    .welcomeRectMobile {
        display: block;
    }

    .welcomeRect {
        display: none;
    }

    .welcomeContainer {
        flex-direction: column-reverse;
    }

    .welcomeText {
        left: 15%;
        font-size: calc(1vw + 0.31em);
    }

    .anchor_container__modify {
        padding: 20px 10px;
    }

    .img {
        width: 200%;
    }

    .endRect {
        display: none;
    }

    .endRectMobile {
        display: block;
    }

    .endImg {
        max-width: 100%;
        margin: 0px 10px;
    }

    .endBox {
        flex-direction: column;
        padding: 10px;
    }

    .endText {
        left: 10%;
        font-size: calc(1vw + 0.3em);
    }

    .header_title {
        font-size: 18px;
    }
}


@media screen and (min-width:425px) {
    .how_start  {
        justify-content: center;
    }

    .header_title {

    }

    .how_start_frame {
        flex: 0 0 90%;
    }

    .welcomeRectMobile {
        display: block;
    }

    .welcomeRect {
        display: none;
    }

    .welcomeContainer {
        flex-direction: column-reverse;
    }

    .welcomeText {
        font-size: calc(1vw + 0.34em);
    }

    .anchor_container__modify {
        padding: 20px 10px;
    }

    .img {
        width: 150%;
    }


    .endImg {
        max-width: 100%;
        margin: 0px 10px;
    }

    .endBox {
        flex-direction: column;
        padding: 10px;
    }
    .endBox img {

    }

    .endBlock {
        width: 100%;
    }

    .endText {
        font-size: calc(1vw + 0.7em);
        line-height: 18px;
    }





}

@media screen and (min-width:768px) {
    .welcomeText {
        font-size: calc(1vw + 0.18em);
    }

    .img {
        width: 80%;
    }

    .endText {
        left: 10%;
        font-size: calc(1vw + 0.15em);
    }

    .header_title {
        font-size: 48px;
    }

}

@media screen and (min-width:1024px) {
    .how_start  {
        justify-content: space-between;
        padding: 0 100px;
    }

    .how_start_frame {
        flex: 0 0 45%;
    }
    .button_anchor {
        /*width: 30%;*/
    }

    .anchor_container__modify {
        padding: 20px 150px;
    }

    .welcomeBox {
        max-width: 100%;
    }

    img_welcome {
        margin-left: 250px;
    }


    .welcomeContainer {
        flex-direction: row;
    }

    .welcomeText {
        left: 20%;
        font-size: calc(0.7vw + 0.7em);
    }

    .endRect {
        display: block;
    }

    .endRectMobile {
        display: none;
    }

    .endImg {
        max-width:75%;
        position: relative;

    }

    .endBox {
        flex-direction: row;
    }

    .endText {
        left: 5%;
        font-size: calc(1vw + 0.15em);
    }


    .borderBox {
        width: 70%;
    }

}




@media screen and (min-width:1440px) {
    .welcomeText {
        left: 20%;
        font-size: calc(.9vw + 0.2em);
    }



    .borderBox {
        width: 50%;
    }

    .endBlock{
        width: 75%;
    }

    .borderBoxEnd {
        width: 50%;
    }
}

@media screen and (min-width:2560px) {
    .welcomeText {
        font-size: calc(.7vw + 0.1em);
    }

    .endText {
        left: 10%;
        font-size: calc(.7vw + 0.1em);
    }

    .borderBox {
        width: 30%;
    }


    .borderBoxEnd {
        width: 30%;
    }
}

