@media screen and (min-width:320px) {
    .how_start  {
        justify-content: center;
    }

    .how_start_frame {
        flex: 0 0 90%;
    }

    .welcomeRectMobile {
        display: block;
    }

    .welcomeRect {
        display: none;
    }

    .welcomeContainer {
        flex-direction: column-reverse;
    }

    .welcomeText {
        left: 15%;
        font-size: calc(1vw + 0.4em);
    }
}


@media screen and (min-width:1024px) {
    .welcomeText {
        font-size: calc(1vw + 0.4em);
    }
}

@media screen and (min-width:1024px) {
    .how_start  {
        justify-content: space-between;
    }

    .how_start_frame {
        flex: 0 0 45%;
    }
    .button_anchor {
        width: 30%;
    }

    .welcomeRectMobile {
        display: none;
    }

    .welcomeRect {
        display: block;
    }

    .welcomeContainer {
        flex-direction: row;
    }

    .welcomeText {
        left: 30%;
        font-size: calc(1vw + 0.3em);
    }
}

@media screen and (min-width:1440px) {

}

@media screen and (min-width:2560px) {
    .welcomeText {
        font-size: calc(0.8vw + 0.1em);
    }
}

