@media screen and (min-width:320px) {
    .how_start  {
        justify-content: center;
    }

    .how_start_frame {
        flex: 0 0 90%;
    }

    .welcomeRectMobile {
        display: block;
    }

    .welcomeRect {
        display: none;
    }

    .welcomeContainer {
        flex-direction: column-reverse;
    }

    .welcomeText {
        left: 15%;
        font-size: calc(1vw + 0.25em);
    }

    .anchor_container__modify {
        padding: 20px 10px;
    }

    .img_frame {
        margin: 35px 20px;
        padding: 20px 0px 50px 0px;
    }
}


@media screen and (min-width:768px) {
    .welcomeText {
        font-size: calc(1vw + 0.2em);
    }

}

@media screen and (min-width:1024px) {
    .how_start  {
        justify-content: space-between;
        padding: 0 100px;
    }

    .how_start_frame {
        flex: 0 0 45%;
    }
    .button_anchor {
        width: 30%;
    }

    .welcomeRectMobile {
        display: none;
    }

    .welcomeRect {
        display: block;

    }

    .welcomeContainer {
        flex-direction: row;
    }

    .welcomeText {
        left: 20%;
        font-size: calc(1vw + 0.45em);
    }

    .img_frame {
        margin: 35px 50px;
        padding: 20px 0px 50px 0px;
    }

}

@media screen and (min-width:1440px) {
    .welcomeText {
        left: 20%;
        font-size: calc(1vw + 0.3em);
    }
}

@media screen and (min-width:2560px) {
    .welcomeText {
        font-size: calc(0.7vw + 0.1em);
    }
}

