/*@media screen and (min-width:320px) {
    .header {
        min-width: 320px;
    }
}

@media screen and (min-width:375px) {
    .header {
        min-width: 375px;
    }
}

@media screen and (min-width:425px) {
    .header {
        min-width: 425px;
    }
}

@media screen and (min-width:768px) {
    .header {
        min-width: 768px;
    }
}

@media screen and (min-width:1024px) {
    .header {
        min-width: 1024px;
    }
}

@media screen and (min-width:1440px) {
    .header {
        min-width: 1440px;
    }
}

@media screen and (min-width:2560px) {
    .header {
        min-width: 2560px;
    }
}*/

