@media screen and (min-width:320px) {
    .header {
        min-width: 320px;
    }
    .button_anchor {
        width: 100%;
    }
}
/*
@media screen and (min-width:375px) {
    .header {
        min-width: 375px;
    }
}

@media screen and (min-width:425px) {
    .header {
        min-width: 425px;
    }
}

@media screen and (min-width:768px) {
    .header {
        min-width: 768px;
    }
}*/

@media screen and (min-width:1024px) {
    .how_start_frame {
        flex: 0 0 49%;
    }
    .button_anchor {
        width: 30%;
    }

}

@media screen and (min-width:1440px) {
    .header {
        min-width: 1440px;
    }
}

@media screen and (min-width:2560px) {
    .header {
        min-width: 2560px;
    }
}

