* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}

html {
    scroll-behavior: smooth;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.header {
    background-color: rgba(255, 96, 20, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 38px 20px;
    margin-bottom: 10px;
}

.header_title {
    color: white;
    font-size: calc(1vw + 1em);
    font-weight: 900;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    padding: 0 0 13px 0;
}

.header_subtitle {
    font-family: Open Sans;
    font-size: calc(1vw + 0.6em);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 0px 15%;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
}

.img {
    width: 100%;
}

.welcomeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_welcome {
    max-width: 49%;
}

.welcomeBox {
    max-width: 50%;
    display:flex;
    justify-content: center;
    margin: 0px 20px;
}

.welcomeRect {
    z-index: -1;
    max-width: 100%;
}

.welcomeRectMobile {
    display: none;
    width: 180%;
}

.welcomeText {
    position: absolute;
    top: 5%;
    left: 20%;
    max-width: 80%;
    font-size: calc(1vw + 0.1em);
    font-weight: 400;
    text-align: left;
    z-index: 10;
}

.button_anchor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px 30px 15px 29px;
    margin: 8px;
    width: 100%;
}

.button_anchor_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: calc(1vw + 0.8em);
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 0em;
    text-align: left;

}

.anchor_container__modify {
    margin-top: 40px;
    flex-wrap: wrap;
    flex: 0 0 30.333%;
    justify-content: flex-start;
    padding: 20px 50px;
}

.how_start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.how_start_frame {
    flex: 0 0 50%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 20px 16px 23px;
}

.frame_full {
    flex: 0 0 97%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 20px 16px 23px;
    padding: 0 10px;
}

.how_start_title {
    font-family: Montserrat;
    font-size: calc(1vw + 1.2em);
    font-style: normal;
    font-weight: 1000;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5%;
    margin-top: 23px;
}

.how_start_subtitle {
    font-family: Open Sans;
    font-size: calc(1vw + 0.6em);
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 5% 5%;
}

.img_frame {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    margin: 20px 0px;
}

.img_with_frame {
    background-color: white;
    max-width: 100%;
}

.name a {
    color: #FF6014;
}

.endImg {
    max-width: 50%;
}

.endRect {
    max-width: 100%;

}

.endRectMobile {
    max-width:100%;
}

.endBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.endTextBox {
    display: flex;
    justify-content: center;
}

.endBlock {
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px 20px;
}

.borderBox {
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px 30px;
    margin: 10px 25px;
}

.borderBoxEnd {
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px 30px;
    margin: 10px 25px;
}

.endText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.blockText {
    font-family: Open Sans;
    font-size: calc(1vw + 0.8em);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px;
}

