* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.header {
    background-color: rgba(255, 96, 20, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.header_title {
    color: white;
    font-size: calc(1vw + 1em);
    font-weight: 900;
    text-transform: uppercase;
}

.header_subtitle {
    font-family: Open Sans;
    font-size: calc(1vw + 0.6em);
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.img {
    width: 100%;
}

.welcomeContainer {
    display: flex;
    flex-direction: row;
}

.welcome {
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
}

.img_welcome {
    max-width: 50%;
}

.welcomeBox {
    position: relative;
    max-width: 50%;
}

.welcomeRect {
    z-index: -1;
}

.welcomeRectMobile {
    display: none;
    max-width: 120%;
}

.welcomeText {
    position: absolute;
    top: 5%;
    left: 30%;
    max-width: 80%;
    font-size: calc(1vw + 0.3em);
    font-weight: 400;
    text-align: center;
    z-index: 10;
}

.button_anchor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px 30px 15px 29px;
    margin: 8px;
    width: 100%;
}

.button_anchor_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: calc(1vw + 0.4em);
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 0em;
    text-align: left;

}

.imgStart {

}

.anchor_container__modify {
    margin-top: 40px;
    flex-wrap: wrap;
    flex: 0 0 30.333%;
    justify-content: flex-start;
}

.how_start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
}



.how_start_frame {
    flex: 0 0 49%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 16px;
    margin-bottom: 23px;
}

.how_start_frame:nth-child(5) {

}

.frame_full {
    flex: 0 0 95%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 16px;
    margin-bottom: 23px;
}

.how_start_title {
    font-family: Montserrat;
    font-size: calc(1vw + 0.8em);
    font-style: normal;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5%;
    margin-top: 23px;
}

.how_start_subtitle {
    font-family: Open Sans;
    font-size: calc(1vw + 0.6em);
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 20%;
}

.img_frame {
    background-color: rgba(196, 196, 196, 1);
    padding: 38px 35px 110px 38px;
    margin: 35px 0px;
}

.img_with_frame {
    background-color: white;
}

.name {
    color: orange;
}

